/************ GENERAL ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

header {
  display: block;
  justify-content: center;
}

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.main-container {
  width: 100vw;
  max-width: 1440px;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
  font-size: medium;
}

.titre-section {
  position: relative;
  font-size: large;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 0px;
}
.fa-solid {
  color: var(--main-color);
}

.neutral-star {
  color: var(--main-bg-color);
}

/************ NAVIGATION ********
*********************************
*********************************
*********************************
*********************************
*********************************/

.logo {
  position: relative;
  top: -20px;
  right: 0px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: end;
}

.link-nav {
  text-decoration: none;
  padding: 10px;
}

.link-nav:hover {
  background-image: linear-gradient(
    to bottom,
    var(--main-color) 2.5px,
    white 0%
  );
  color: var(--main-color);
}

.link-nav:visited {
  text-decoration: none;
}

/****** RECHERCHER ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

#loupe-button {
  display: none;
}
#location2 {
  display: none;
}

form {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.research {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 85vw;
  height: 50px;
  font-size: small;
}

form input,
form select,
form textarea,
form button form label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}

#location {
  align-self: self-start;
}
.location-icon-ville {
  border: 1px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
  font-size: medium;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#location-icon-ville {
  padding: 5px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--main-bg-color);
  width: 220px;
  font-size: medium;
  font-weight: bold;
  justify-content: center;
  color: black;
  margin: 0px;
}

#recherch-button-id {
  border: 1px solid var(--main-bg-color);
  width: auto;
  height: 50px;
  box-sizing: border-box;
  font-size: medium;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.desktop-text-research {
  color: white;
}

#loupe {
  margin-left: -15px;
}

/****** FILTRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

.section-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 24px;
  padding-left: 0px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.container-all-bouttons-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

.filter-element {
  border: 3px solid var(--main-bg-color);
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 10px;
  border-radius: 50px;
}

.filter-element i {
  margin-right: 13px;
  font-size: medium;
}

.boutton-filter {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
  padding-left: 20px;
}

.boutton-filter:hover {
  background-color: var(--filter-bg-color);
}

.i_plus_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 40px;
}

#cercle_around_i {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: large;
  font-family: serif;
  font-weight: bold;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
}

/****** HEBERGEMENTS et POPULAIRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

.sections-hebergements-plus-populaires {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;

  height: auto;
  padding: 0px;
  gap: 20px;
}

.section-hebergement-grey-70,
.section-populaires-grey-30 {
  box-sizing: border-box;
  /* Ensures padding and borders are included in the width */
}

.section-hebergement-grey-70 {
  width: 70%;
}

.section-populaires-grey-30 {
  width: 30%;
}

.section-hebergement-grey {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 25px;
}

.section-populaires-grey {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.text-plus-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: small;
  padding-left: 10px;
}

.just-text-image {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.titre-image {
  font-weight: bold;
  font-size: small;
}

.ligne-prix {
  display: grid;

  grid-template-columns: 100%;
}
.nuit-a-partir-de {
  font-size: small;
}
.variable-prix {
  font-size: small;
}

.euro {
  font-weight: bold;
}

.rating {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(5, 18px);
  margin-top: 10px;
}
.card {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  width: 24vw;
  margin: 0;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** HEBERGEMENTS ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

.container-all-hebergement-cards {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.container-all-hebergement-cards > * {
  flex: 1 1 0;
}

.card-hebergement {
  flex-direction: column;
  justify-content: start;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 0px;
}

.container-one-image-hebergement {
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 68%;
  background-size: 100% 100%;
  position: relative;
  margin: 0px;
  margin-top: 4px;
}

.container-one-image-hebergement img {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.afficher-plus {
  justify-content: start;
  min-width: 300px;
  padding-left: 40px;
  margin-top: 10px;
}

/****** POPULAIRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

.titre-section-plus-icon-graph {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  gap: 5px;
}

.titre-section-plus-icon-graph > * {
  margin: 0;
  flex-shrink: 0;
}

#graph-icon {
  display: flex;

  align-items: center;
  justify-content: end;
  min-width: 10px;
  width: auto;
  flex-grow: 1;
}
.titre-section-les-populaires {
  position: relative;
}

.container-all-populaires-cards {
  display: flex;
  flex-direction: column;
}
.container-all-populaires-cards > * {
  flex: 1 1 0;
}

.card-populaire {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 260px;
  height: 140px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.container-one-image-populaire {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-one-image-populaire img {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-bottom: 4px;
  padding-top: 0px;
}

/************ ACTIVITES ********
*********************************
*********************************
*********************************
*********************************
*********************************/

.section-activites-blanc {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: start;
  align-items: start;
  height: auto;
}

.titre-section-activites {
  padding-left: 25px;
  margin-bottom: 20px;
}

.card-activite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  width: 20vw;
  max-width: 290px;
  min-width: 210px;
  height: 360px;
  padding: 0;
  margin-top: 0px;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.container-all-activites-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  padding-left: 30px;
  margin: 0;
  margin-top: 50px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}

.container-all-activites-cards > * {
  flex: 1 1 0;
}

.container-one-image-activite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 85%;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 0;
  position: relative;
}

.container-one-image-activite img {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.titre-image-activites {
  padding: 10px;
  font-size: 90%;
}

/************ FOOTER ********
*********************************
*********************************
*********************************
*********************************
*********************************/

footer {
  margin-top: 30px;
  width: 100%;
  background-color: var(--main-bg-color);
  padding-left: 20px;
  padding-top: 10px;
}
.all-footer-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  max-width: 100%;
}

.footer-titre-link {
  font-weight: bold;
  font-size: medium;
}

.footer-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1 1 200px;
}

.footer-text {
  margin-bottom: 0px;
}

/************ RESPONSIVE ********
*********************************
*********************************
*********************************
*********************************
*********************************/
/****** Media queries ***********/
/******tablets <= 1024px) ******/

/*0	0	0	0	0	0	0	0	0	0	0	
0	0	0	0	0	0	0	0	0	0	0	0
0	0	0	0	0	0	0	0	0	0	0	0
				0	0	0	0				
				0	0	0	0				
				0	0	0	0				
				0	0	0	0				
				0	0	0	0				
				0	0	0	0				
				0	0	0	0				
*/
@media (max-width: 1024px) {
  /************ GENERAL ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  body {
    display: flex;
    justify-content: center;
  }
  .boutton-filters {
    margin-top: 15px;
    /* margin-left: -30px; */
    padding: 0px;
    width: 100%;
  }

  .main-container {
    padding: 0 30px;
  }
  .logo {
    margin-top: 25px;
    margin-left: 0px;
  }

  h2 {
    margin-left: 0px;
  }

  p {
    margin-left: 0px;
  }
  /****** RECHERCHER ***********
*********************************
*********************************
*********************************
*********************************
*********************************/
  .research {
    margin-left: 0px;
  }

  /****** FILTRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .section-filters {
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
    padding-left: 0px;
    width: 100%;
    left: 0;
    right: 0;
    width: 100%;
    gap: 5px;
  }

  .text-filters {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .container-all-bouttons-filter {
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  .boutton-filter {
    margin-left: 0px;
    margin-right: 0px;
    gap: 3px;
  }

  .i_plus_text {
    margin: 0px;
    padding: 0;
  }
  /*HEBERGEMENTS et POPULAIRES* 
*********************************
*********************************
*********************************
*********************************
*********************************/

  .sections-hebergements-plus-populaires {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /****** HEBERGEMENTS ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .section-hebergement-grey {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 30px;
    padding-bottom: 5px;
  }

  .titre-section-hebergements {
    margin-left: 0px;
    width: 100%;
  }

  .container-all-hebergement-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .card-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

    width: 27vw;
    height: 16vw;

    padding-bottom: 10px;
    padding-top: 3px;
  }

  .container-one-image-hebergement {
    width: 100%;
    height: 100%;
  }

  .afficher-plus {
    margin-left: -25px;
  }

  /****** POPULAIRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .section-populaires-grey {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 98%;
    height: auto;
    margin: 5px;
    padding-bottom: 5px;
    gap: 10px;
  }

  .card-populaire {
    width: 29vw;
    min-width: 10px;
    box-sizing: border-box;
  }

  .container-all-populaires-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 0.5em;
  }

  .container-all-populaires-cards > * {
    flex: 1 1 0;
  }

  /************ ACTIVITES ********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .card-activite {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 230px;
    min-width: 165px;
    height: 260px;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 5px;
  }
  .container-all-activites-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 0px;
    padding-left: 30px;
    gap: 5px;
  }

  .container-one-image-activite {
    width: 100%;
    height: 80%;
  }

  .container-all-activites-cards > * {
    flex: 1 1 0;
  }

  .titre-section-activites {
    margin: 0;
  }

  /************ FOOTER ********
*********************************
*********************************
*********************************
*********************************
*********************************/

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 0.8em;
  }
}
/************ RESPONSIVE ********
*********************************
*********************************
*********************************
*********************************
*********************************/
/****** Media queries ***********/
/******phones < 768px ******/

/*0	0	0	0	0	0	0	0	0	0	0	
0	0	0	0	0	0	0	0	0	0	0	0
0	0	0	0	0	0	0	0	0	0	0	0
								0	0	0	0
							0	0	0	0	
						0	0	0	0		
					0	0	0	0			
				0	0	0	0				
			0	0	0	0					
		0	0	0	0						
	0	0	0	0							
0	0	0	0								
0	0	0		*/
/************ GENERAL ***********
*********************************
*********************************
*********************************
*********************************
*********************************/
@media (max-width: 768px) {
  body,
  html {
    padding: 0;
    margin: 0;
    font-size: 97%;
    width: 100%;
    justify-self: center;
    align-self: center;
  }

  .logo_div {
    margin-top: -75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .main-container {
    width: 100vw;
    margin: -1px;
    padding: 0;
    box-sizing: border-box;
  }

  .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  /************ NAVIGATION ********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    padding: 0px;
    width: 100%;
  }

  .link-nav {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .link-nav:hover {
    background-image: linear-gradient(
      to top,
      var(--main-color) 2.5px,
      white 0%
    );
    color: var(--main-color);
  }

  h2,
  p,
  h3,
  form,
  .container-all-bouttons-filter,
  .i_plus_text {
    margin-left: 10px;
    font-size: 98%;
  }
  h2 {
    margin-top: 50px;
    width: 90%;
    text-wrap: wrap;
  }

  p {
    margin-top: 0px;
  }
  /****** RECHERCHER ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  #recherch-button-id {
    display: none;
  }

  #loupe-button {
    display: inline-block;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-color);
    border-width: 0;
    width: auto;
    box-sizing: border-box;
    font-size: large;
    font-weight: bold;
    margin-left: -15px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  #loupe-button i {
    color: var(--main-bg-color);
  }

  form {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 90vw;
    flex: 1 1 45%;
  }
  /****** FILTRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/
  .boutton-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    height: 22px;

    font-size: smaller;
    margin: 0;
    flex: 1 1 45%;
  }

  .container-all-bouttons-filter {
    width: 95%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    align-items: start;
    gap: 8px;
    margin-top: 10px;
  }

  .container-all-bouttons-filter > * {
    flex: 1 1 0;
  }

  #cercle_around_i {
    margin-top: 35px;
  }

  .i_plus_text {
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 0px;
  }

  .i_plus_text > * {
    flex-grow: 1;
  }

  .plus-de-500 {
    margin-left: 40px;
    width: 80%;
    display: block;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 98%;
  }
  /****** HEBERGEMENTS et POPULAIRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .sections-hebergements-plus-populaires {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 0px;
    justify-content: start;
    height: auto;
    padding: 0;
  }

  /****** POPULAIRES ***********
*********************************
*********************************
*********************************
*********************************
*********************************/
  .section-populaires-grey {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95vw;
    height: auto;
    border-radius: 0;
    justify-content: center;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: 0px;
    padding-bottom: 30px;
    gap: 10px;
  }
  .titre-section-plus-icon-graph {
    width: 90vw;
  }

  .container-all-populaires-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 95vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }

  .card-populaire {
    width: 94vw;
    min-width: 10px;
    box-sizing: border-box;
    margin: 0;
  }

  .afficher-plus {
    padding-left: 10px;
    margin-top: -10px;
  }

  /****** HEBERGEMENTS ***********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .section-hebergement-grey {
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 95vw;
    height: auto;
    border-radius: 0;
    gap: 10px;
  }

  .container-all-hebergement-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-items: start;
    justify-content: start;
    gap: 10px;
  }

  .card-hebergement {
    width: 95vw;
    min-width: 10px;
    min-height: 150px;
    box-sizing: border-box;
  }

  /************ ACTIVITES ********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .section-activites-blanc {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 95vw;
    height: auto;
    border-radius: 0;
    gap: 10px;
    margin-left: 20px;
  }
  .titre-section-activites {
    margin-left: -20px;
  }
  .container-all-activites-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: -10px;
    box-sizing: border-box;
    flex: 1 1 0;
  }
  .container-all-activites-cards > * {
    flex: 1 1 0;
  }

  .card-activite {
    max-width: 740px;
    width: 91vw;
    min-width: 10px;
    max-height: 180px;
    box-sizing: border-box;
  }

  /************ FOOTER ********
*********************************
*********************************
*********************************
*********************************
*********************************/

  .all-footer-blocks {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .all-footer-blocks {
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  footer {
    /*   display: flex;
    flex-direction: column; */
    width: 100%;
    font-size: 0.8em;
    padding-bottom: 5px;
  }
  .footer-titre-link {
    margin: 0;
    padding: 0;
  }
  .footer-block {
    padding: 0;
    margin: 0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    max-height: 80px;
    align-items: start;
    justify-content: start;
    gap: 5px;
  }
}
