/****** GENERAL ***********/

/* * {
  justify-content: center;
} */
header,
footer,
main {
  max-width: 1440px;
}
header {
  display: block;
  justify-content: center;
}

/* html {
  display: block;
  justify-content: center;
} */
img {
  max-width: 100%;
}

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

/* body {
  display: flex;
  justify-content: center;
} */

.main-container {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  margin-top: -8px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin-bottom: 30px;
  font-size: medium;
}

.titre-section {
  font-size: large;
  font-weight: bold;
  margin-bottom: 3px;
}
.fa-solid {
  color: var(--main-color);
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** NAVIGATION ***********/

.logo {
  position: relative;
  top: -20px;
  right: 0px;
}

.navigation {
  display: flex;
  justify-content: end;
}

.link-nav {
  text-decoration: none;
  padding: 10px;
}

.link-nav:hover {
  background-image: linear-gradient(
    to bottom,
    var(--main-color) 2.5px,
    white 0%
  );
  color: var(--main-color);
}

.link-nav:visited {
  text-decoration: none;
}

/****** RECHERCHER ***********/

#location2 {
  display: none;
}

form {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.research {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  height: 100;
  font-size: small;
}

form input,
form select,
form textarea,
form button form label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}

#location {
  align-self: self-start;
}
.location-icon-ville {
  border: 1px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
  font-size: medium;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#location-icon-ville {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--main-bg-color);
  width: 250px;
  font-size: large;
  font-weight: bold;
  justify-content: center;
  color: black;
  margin: 0px;
  padding: 0px;
}

#recherch-button-id {
  border: 1px solid var(--main-bg-color);
  width: auto;
  height: 50px;
  box-sizing: border-box;
  font-size: large;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.desktop-text-research {
  color: white;
}

#loupe {
  margin-left: -15px;
}

/****** FILTRES ***********/
.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 24px;
  padding-left: 0px;

  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;

  box-sizing: border-box;
}

.filter-element {
  border: 3px solid var(--main-bg-color);
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 10px;
  border-radius: 50px;
}

.filter-element i {
  margin-right: 13px;
  font-size: medium;
}

.text-filter {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
  padding-left: 20px;
}

.text-filter:hover {
  background-color: var(--filter-bg-color);
}

.i_plus_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 40px;
}
#cercle_around_i {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: large;
  font-family: serif;
  font-weight: bold;
  padding-top: 2px;
  width: 25px;
  height: 25px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50%;
}

/****** HEBERGEMENTS et POPULAIRES ***********/
.sections-hebergements-plus-populaires {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;

  height: auto;
  padding: 0px;
  max-width: 1440px;
  min-width: 320px;
}

.section-hebergement-grey-70,
.section-populaires-grey-30 {
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
}

.section-hebergement-grey-70 {
  width: 70%;
  background-color: lightblue; /* Optional, for visualization */
}

.section-populaires-grey-30 {
  width: 30%;
  background-color: lightgreen; /* Optional, for visualization */
}

.titre-section-hebergements {
  padding-left: 40px;
}

.section-hebergement-grey {
  display: flex;
  flex-wrap: wrap;
  /*  width: 70%; */
  min-width: 320px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 25px;
  margin: 10px;
}

.section-populaires-grey {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*  width: 30%; */
  min-width: 320px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  gap: 20px;
}

.text-plus-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: small;
  padding-left: 10px;
}

.just-text-image {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.titre-image {
  font-weight: bold;
  font-size: small;
}

.ligne-prix {
  display: grid;

  grid-template-columns: 100%;
}
.nuit-a-partir-de {
  font-size: small;
}
.variable-prix {
  font-size: small;
}

.euro {
  font-weight: bold;
}

.rating {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(5, 18px);
  margin-top: 10px;
}
.card {
  display: flex;
  justify-content: center;

  background-color: white;
  border-radius: 20px;

  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** HEBERGEMENTS ***********/

.container-all-hebergement-cards {
  width: 100%;
  height: 80%;
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  justify-content: center;

  gap: 5%;
  margin-top: 20px;
}

.container-all-hebergement-cards > * {
  flex-grow: 1;
}

.card-hebergement {
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  width: 100%;
  height: 100%;
}

.container-one-image-hebergement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 60%;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
}

.container-one-image-hebergement img {
  position: absolute;
  object-fit: cover;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  margin-top: -15px;
}

.afficher-plus {
  justify-content: start;
  min-width: 300px;
  padding-left: 40px;
  margin-top: 10px;
}

/****** POPULAIRES ***********/

.titre-section-plus-icon-graph {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  gap: 5px;
}

.titre-section-plus-icon-graph > * {
  margin: 0;
  flex-shrink: 0;
}

#graph-icon {
  display: flex;

  align-items: center;
  justify-content: end;
  min-width: 10px;
  width: auto;
  flex-grow: 1;
}
.titre-section-les-populaires {
  position: initial;
  margin-right: 150px;
  width: 50%;
}

.container-all-populaires-cards {
  display: flex;
  flex-direction: column;
}
.container-all-populaires-cards > * {
  flex-grow: 1;
  margin: 0;
}

.card-populaire {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-width: 260px;
  height: 140px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 4px;
}

.container-one-image-populaire {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-one-image-populaire img {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 0px;
}

/*------------ACTIVITES-----------*/
.section-activites-blanc {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  height: auto;
}

/*AICI*/

/*AICI*/

.titre-section-activites {
  padding-left: 60px;
  margin-bottom: 20px;
}
.container-all-activites-cards {
  /* background-color: red; */
  /*  align-self: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: center;
  padding: 1%;
  margin: 0px;
  gap: 20px;

  width: 80%;
  /*   flex: 1 1 calc((100% / 4) - 10px); */
}

.container-all-activites-cards > * {
  flex-grow: 1;
}

/* .card-activite {
  display: flex;
  flex-direction: column;
  justify-content: top;

  width: 240px;
  height: 290px;
} */

.card-activite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: top;

  background-color: white;
  border-radius: 20px;
  width: 220px;
  height: 340px;
  padding: 0;
  margin-top: 0px;

  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.container-one-image-activite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 85%;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -7px;
}

.container-all-activites-cards > * {
  flex-grow: 1;
  margin: 0;
}

.container-one-image-activite img {
  position: absolute;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  margin-top: -2px;
  padding: 0;
  /*  margin-top: -20px;
  padding-left: -100px;
  padding-right: -10px; */
}

.titre-image-activites {
  padding: 10px;
  font-size: 90%;
}
footer {
  background-color: var(--main-bg-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.all-footer-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  max-width: 100%;
}

.footer-titre-link {
  font-weight: bold;
  font-size: medium;
}

.footer-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1 1 200px;
  /* Allow flexibility in width and ensure wrapping */
}

.footer-text {
  margin-bottom: 0px;
}

/*********RESPONSIVE*********/
/****** Media queries ***********/
/******tablets <= 1024px) ******/

@media (max-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
  h3 {
    width: 100%;
  }
  .logo {
    margin-top: 20px;
    margin-left: -20px;
  }

  h2 {
    margin-left: -20px;
  }

  p {
    margin-left: -20px;
  }

  .research {
    margin-left: -20px;
  }
  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
    padding-left: 0px;

    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 40px;
    gap: 5px;
  }

  .text-filter {
    margin-top: 0px;
    margin-left: -10px;
    gap: 3px;
  }

  .i_plus_text {
    margin-top: 110px;
    margin-left: -30px;
  }

  .sections-hebergements-plus-populaires {
    flex-direction: column;
  }

  h2 {
  }

  .section-hebergement-grey {
    width: 100%;
    position: relative;

    margin-top: 0px;
    padding-bottom: 5px;
    margin-left: -30px;
  }

  .titre-section-hebergements {
    margin-left: -30px;
    width: 100%;
  }

  .container-all-hebergement-cards > * {
    flex-grow: 1; /* Allow children to grow and fill the container */
    margin: 0;
    width: 100%;
    height: 90%;
  }

  .card-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding-top: 8px;
    width: 20vw;

    height: 18vw;
  }

  .afficher-plus {
    margin-left: -25px;
  }
  .section-populaires-grey {
    margin-top: 10px;
    padding-bottom: 5px;
    margin: auto 1;
    margin-left: -30px;
    width: 101%;
  }

  .container-all-populaires-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    gap: 10px;

    font-size: 0.5em;
  }

  .container-all-populaires-cards > * {
    flex-grow: 1; /* Allow children to grow and fill the container */
    margin: 0; /* Ensure no additional margins are affecting the layout */
  }

  .card-populaire {
    height: 120px;
    min-width: 180px;
    max-width: 240px;
  }

  .card-activite {
    display: flex;
    width: 6vw;
    min-width: 19.2vw;
    height: 22vw;
  }
  .container-all-activites-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 30px;
    gap: 5px;
  }

  .container-all-activites-cards > * {
    flex-grow: 1;
    margin: 0;
  }
  .titre-section-activites {
    margin-left: -80px;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 0.8em;
  }
}

/*********RESPONSIVE*********/
/****** Media queries ***********/
/******phones < 768px ******/

@media (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 97%;
  }

  .logo_div {
    margin-top: -65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -50px;
    padding: 0px;
    width: 100%;
  }

  .link-nav {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h2 {
    font-size: 98%;
    margin-top: 50px;
    width: 150%;
  }

  p {
    margin-top: 0px;
    font-size: 80%;
  }
  .link-nav:hover {
    background-image: linear-gradient(
      to top,
      var(--main-color) 2.5px,
      white 0%
    );
    color: var(--main-color);
  }
  #location2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #location {
    display: none;
  }

  .location-text {
    min-width: 180px;
  }

  h3 {
    width: 100%;
    font-size: 95%;
  }

  #loupe {
    margin-left: -6px;
  }

  #cercle_around_i {
    margin-top: 35px;
  }

  .i_plus_text {
    display: grid;
    grid-template-rows: 10% 90%;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 190px;
    margin-left: -15px;
  }
  .i_plus_text > * {
    flex-grow: 1;
  }

  .plus-de-500 {
    margin-left: 40px;
    width: 250px;
    display: block;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: smaller;
  }

  .text-filter {
    width: 33vw;
    height: 26%;
    font-size: small;
  }

  .familial {
    display: block;
  }

  .sections-hebergements-plus-populaires {
    width: 130%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 0px;
    justify-content: center;
    height: auto;
    padding: 0px;
  }

  .container-all-populaires-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container-all-populaires-cards > * {
    flex-grow: 1;
    margin: 0;
  }

  .card-populaire {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 4px;
  }
  .titre-section-plus-icon-graph {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .titre-section-les-populaires {
    font-size: 90%;
  }

  #graph-icon {
    margin-left: -25px;
  }

  .section-populaires-grey {
    /*    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    /*  width: 150%; */
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /*     min-width: 320px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    gap: 20px; */
  }
}
