/****** GENERAL ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  margin-bottom: 30px;
  font-size: medium;
}

.titre-section {
  font-size: larger;
  font-weight: bold;
}
.fa-solid {
  color: var(--main-color);
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** NAVIGATION ***********/

.logo {
  position: relative;
  top: -20px;
  right: -20px;
}

.navigation {
  display: flex;
  justify-content: end;
}

.link-nav {
  text-decoration: none;
  padding: 10px;
  color: var(--main-color);
}

.link-nav:hover {
  background-image: linear-gradient(
    to bottom,
    var(--main-color) 2.5px,
    white 0%
  );
}

.link-nav:visited {
  text-decoration: none;
}

/****** RECHERCHER ***********/

.mobile-icon {
  display: none;
}

/* Afiseaza iconita si ascunde textul pentru ecranele mici */
@media screen and (max-width: 768px) {
  .desktop-text {
    display: none;
  }
  .mobile-icon {
    display: inline-block;
  }
}

form {
  display: flex;
  flex-direction: row;
}

.research {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: auto;
  height: 100;
  font-size: small;
}

form input,
form select,
form textarea,
form button form label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}

.location-icon-ville {
  background-color: var(--main-bg-color);
  font-size: large;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#location-icon-ville {
  height: 60px;
  box-sizing: border-box;
  width: 200px;
  font-size: large;
  font-weight: bold;
  justify-content: center;
  color: black;
  margin: 0px;
  padding: 0px;
  border-top-color: var(--main-bg-color);
  border-bottom-color: var(--main-bg-color);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

#recherch-button-id {
  width: auto;
  height: 60px;
  box-sizing: border-box;
  font-size: large;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-weight: bold;
  margin: 0px;
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** FILTRES ***********/
.filters {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 4px;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-element {
  border-width: 2px;
  border-style: solid;
  border-color: var(--main-bg-color);
  padding: 12px;
  margin: 20px;
  border-radius: 50px;
}

.text-filter {
  font-weight: bold;
  font-size: larger;
}
.text-filter:hover {
  background-color: var(--filter-bg-color);
}

/****** HEBERGEMENTS-POPULAIRES ***********/
.sections-hebergements-plus-populaires {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -50px;
  margin-right: -50px;
  justify-content: center;
  height: auto;
}

.section-hebergement-grey {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.section-populaires-grey {
  width: 30%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.titre-section {
  font-size: larger;
  font-weight: bold;
}

.text-plus-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: medium;
  padding-left: 7px;
}

.just-text-image {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.titre-image {
  font-weight: bold;
  font-size: medium;
}

.ligne-prix {
  display: grid;

  grid-template-columns: 55% 25% 15%;
}
.nuit-a-partir-de {
  font-size: small;
}
.variable-prix {
  font-size: small;
}

.euro {
  font-weight: bold;
}

.rating {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(5, 18px);
  margin-top: 10px;
}
.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** HEBERGEMENTS ***********/

.container-all-hebergement-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  grid-gap: 30px;
  max-width: 800px;
}

.card-hebergement {
  flex-direction: column;
  justify-content: center;

  width: 200px;
  height: 150px;
}

.container-one-image-hebergement {
  height: 60%;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 2px;
  margin-top: -3px;

  overflow: hidden;
  position: relative;
}

.container-one-image-hebergement img {
  position: inherit;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
}

.afficher-plus {
  justify-content: start;
  min-width: 300px;
}

/****** POPULAIRES ***********/
.titre-section-plus-icon-graph {
  display: grid;
  grid-template-rows: 5fr 1fr;
}

.container-all-populaires-cards {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.card-populaire {
  /****** pour etre remplis ***********/
  flex-direction: row;
  justify-content: space-around;

  width: 280px;
  height: 120px;
}

.container-one-image-popûlaire {
  height: 60%;
  background-size: 100% 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: -3px;
  margin-top: -10px;
  overflow: hidden;
  position: relative;
}

.container-one-image-populaire img {
  position: inherit;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
}
/* ... */
